*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
moblieSafe/build/generated/res/
moblieSafe/build/generated/source/aidl/androidTest/
moblieSafe/build/generated/source/r/androidTest/
moblieSafe/build/generated/source/rs/
moblieSafe/build/intermediates/assets/androidTest/
moblieSafe/build/intermediates/blame/res/androidTest/
moblieSafe/build/intermediates/bundles/
moblieSafe/build/intermediates/manifest/tmp/
moblieSafe/build/intermediates/res/merged/androidTest/
moblieSafe/build/intermediates/rs/
moblieSafe/build/intermediates/symbols/
slidingmenulibrary/build/generated/res/
slidingmenulibrary/build/generated/source/aidl/
slidingmenulibrary/build/generated/source/rs/
slidingmenulibrary/build/intermediates/assets/
slidingmenulibrary/build/intermediates/bundles/debug/aidl/
slidingmenulibrary/build/intermediates/bundles/debug/assets/
slidingmenulibrary/build/intermediates/bundles/debug/jni/
slidingmenulibrary/build/intermediates/bundles/debug/libs/
slidingmenulibrary/build/intermediates/bundles/release/aidl/
slidingmenulibrary/build/intermediates/bundles/release/assets/
slidingmenulibrary/build/intermediates/bundles/release/jni/
slidingmenulibrary/build/intermediates/bundles/release/libs/
slidingmenulibrary/build/intermediates/dependency-cache/
slidingmenulibrary/build/intermediates/jniLibs/
slidingmenulibrary/build/intermediates/lint/
slidingmenulibrary/build/intermediates/manifest/tmp/
slidingmenulibrary/build/intermediates/rs/
slidingmenulibrary/build/intermediates/transforms/
slidingmenulibrary/build/tmp/
viewPagerIndicatorLibrary/build/generated/res/
viewPagerIndicatorLibrary/build/generated/source/aidl/
viewPagerIndicatorLibrary/build/generated/source/rs/
viewPagerIndicatorLibrary/build/intermediates/assets/
viewPagerIndicatorLibrary/build/intermediates/bundles/debug/aidl/
viewPagerIndicatorLibrary/build/intermediates/bundles/debug/assets/
viewPagerIndicatorLibrary/build/intermediates/bundles/debug/jni/
viewPagerIndicatorLibrary/build/intermediates/bundles/debug/libs/
viewPagerIndicatorLibrary/build/intermediates/bundles/release/aidl/
viewPagerIndicatorLibrary/build/intermediates/bundles/release/assets/
viewPagerIndicatorLibrary/build/intermediates/bundles/release/jni/
viewPagerIndicatorLibrary/build/intermediates/bundles/release/libs/
viewPagerIndicatorLibrary/build/intermediates/dependency-cache/
viewPagerIndicatorLibrary/build/intermediates/jniLibs/
viewPagerIndicatorLibrary/build/intermediates/lint/
viewPagerIndicatorLibrary/build/intermediates/manifest/tmp/
viewPagerIndicatorLibrary/build/intermediates/rs/
viewPagerIndicatorLibrary/build/intermediates/transforms/
viewPagerIndicatorLibrary/build/tmp/
moblieSafe/
viewPagerIndicatorLibrary/
slidingmenulibrary/
zhbj/
app/